@import "../../constants.scss";

.input {
  &Selection {
    padding: 5px;
    background-color: $theme-color-dark;
    display: inline-block;
    border-radius: $default-radius;
    position: relative;

    &Delete {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      outline: none;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: $default-radius;
      color: red !important;
      &:hover {
        background-color: $theme-color-light;
      }
    }

    > div {
      height: auto;
      position: relative;
      &:first-child {
        > textarea {
          resize: none;
          background-color: $theme-color-normal;
          border: $default-border-size solid $theme-border;
          border-radius: $default-radius;
          color: inherit;
          padding: $default-big-padding;
          height: auto;
          overflow-wrap: normal;
          overflow-x: hidden;
          transition: 0.3s;
          font-size: $default-header-font-size;
          outline: none;
          &:focus {
            background-color: $theme-color-light;
            border: $default-border-size solid $theme-outline;
          }
        }
      }
      > div {
        > div {
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          padding: 2px 0;

          > div {
            background-color: $theme-color-normal;
            border-radius: $default-radius;
            padding: $default-padding;
            margin: $default-margin;
            user-select: none;
            opacity: $theme-transparency-normal;
          }
        }
      }
    }

    &Cell {
      text-align: left;
      margin: 1px 2px;
      padding: $default-element-padding $default-padding;
    }

    &Add {
      &Section {
        margin: $default-margin;
        padding: $default-padding;
        background-color: $theme-color-normal;
        border-radius: $default-radius;
        display: flex;
        > div {
          margin: $default-margin;
          user-select: none;
          flex-grow: 1;
          display: flex;
          align-items: center;
          line-break: auto;
        }
        > button {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          padding: $default-big-padding;
          background-color: $theme-color-dark;
        }
      }
    }
  }

  &Checkbox {
    position: relative;
    width: $default-checkbox-size;
    height: $default-checkbox-size;
    cursor: pointer;

    > button,
    > span {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: $default-radius;
      color: $theme-text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      &:is(span) {
        background-color: $theme-color-normal;
        border: $default-border-size solid $theme-color-light;
        z-index: 2;
      }

      &:is(button) {
        position: absolute;
        z-index: 1;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;

        &:hover {
          background-color: $theme-color-light-see-though-high;
        }
      }
    }
  }
}

.active {
  background-color: green !important;
}
