@import "@Root/constants";
@import "@Root/mixins";

.input {
  &Selection {
    @include pm($default-padding, 0);
    @include position();
    display: inline-block;
    background-color: $theme-color-dark;
    border-radius: $default-radius;

    &Delete {
      @include position(absolute, 50%, 5px, 2);
      @include resetBorder();
      @include border(transparent);
      @include pm-v($default-padding, 0);
      @include pm-h($default-element-padding, 0);

      transform: translateY(50%);
      box-sizing: border-box;
      color: red !important;
      @include backgroundTheme(transparent);
    }

    > div {
      @include position();
      @include size(auto);

      &:first-child {
        > textarea {
          @include pm($default-big-padding, 0);
          @include size-wh(auto, 100%);
          display: block;
          overflow-wrap: normal;
          overflow-x: hidden;
          transition: 0.3s;
          font-size: $default-header-font-size;
        }
      }
      > div {
        > div {
          @include flex(column, start, stretch);
          overflow-y: auto;
          padding: $default-padding-small 0;

          > div {
            @include pm();
            @include border(transparent, 0, $default-radius);

            background-color: $theme-color-normal;
            user-select: none;
            opacity: $theme-transparency-normal;
          }
        }
      }
    }

    &Cell {
      text-align: left;
      @include pm-v($default-element-padding, 1px);
      @include pm-h($default-padding, 2px);
    }

    &Add {
      &Section {
        @include pm-flex();
        background-color: $theme-color-normal;
        border-radius: $default-radius;

        > div {
          @include pm-flex(0);
          user-select: none;
          flex-grow: 1;
          line-break: auto;
        }
        > button {
          @include size(40px);
          @include pm($default-big-padding, 0);
          border-radius: 50%;
          background-color: $theme-color-dark;
        }
      }
    }
  }

  &Checkbox {
    @include size($default-checkbox-size);
    @include position();
    cursor: pointer;

    > button,
    > span {
      @include size(100%);
      @include flex();

      @include border(transparent);
      @include resetText();

      &:is(span) {
        @include border($theme-color-light, $default-border-size);

        background-color: $theme-color-normal;
        z-index: 2;
      }

      &:is(button) {
        @include position(absolute);
        border: none;

        @include backgroundTheme(
          transparent,
          $theme-color-light-see-though-high
        );
      }
    }
  }
}

.active {
  background-color: green !important;
}
