@import "@Root/global";
@import "@Root/mixins";

.button {
  @include pm();

  border-radius: $default-radius;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  @include backgroundTheme();

  &Alternate {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  &Label {
    @include flex();
    @include border();
    width: 500px;

    > * {
      margin: $default-pm;
    }

    > label {
      font-size: $default-header-big-font-size;
    }

    > p {
      flex-grow: 1;
    }
  }
}
