@import "../../constants.scss";

.button {
  background-color: $theme-color-normal;
  color: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: $default-radius;
  transition: 0.3s;
  &:hover {
    background-color: $theme-color-light;
  }

  &Alternate {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}
