@import "@Root/constants";
@import "@Root/mixins";

.drag {
  &gable {
    position: relative;
    background-color: red;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    padding: 0px;

    &Image {
      display: block;
      user-select: none;
      cursor: grabbing;
    }
  }

  &Slot {
    @include backgroundTheme();
    @include flex();
    @include border(transparent, 0);
    display: inline-flex;

    > div {
      @include pm();
      @include size($default-size / 2);
      @include flex();
      border: $default-border-size dashed $theme-text-color;
      border-radius: $default-radius;

      > div {
        color: $theme-color-very-light;
        user-select: none;
      }
    }

    &Anim {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }
}
