@import "@Root/constants";
@import "@Root/mixins";

.table {
  @include pm(0, $default-pm-big);
  @include border(
    $theme-color-light,
    $default-border-size,
    $default-big-radius,
    content-box
  );
  box-sizing: unset;
  border-spacing: 0;

  > thead,
  > tbody {
    > tr {
      > td,
      > th {
        @include pm($default-pm-big, 0);
        border: 1px solid $theme-color-light-see-though;
      }
    }

    &:is(thead) {
      background-color: $theme-color-dark;
      border-top-left-radius: $default-radius;
      border-top-right-radius: $default-radius;
      > tr {
        > th {
          &:first-child {
            border-top-left-radius: $default-radius;
          }
          &:last-child {
            border-top-right-radius: $default-radius;
          }
          &:not(:first-child) {
            cursor: pointer;
            @include backgroundTheme(
              transparent,
              $theme-color-light-see-though-high
            );
          }
        }
      }
    }

    &:is(tbody) {
      > tr {
        &:last-child {
          > td {
            &:first-child {
              border-bottom-left-radius: $default-radius;
            }
            &:last-child {
              border-bottom-right-radius: $default-radius;
            }
          }
        }
      }
    }
  }
}
