$theme-text-color: white;
$theme-transparency-normal: 0.8;
$theme-transparency-high: 0.4;

$theme-color-normal: rgb(30, 30, 30);
$theme-color-light: rgb(40, 40, 40);
$theme-color-very-light: rgb(60, 60, 60);
$theme-color-dark: rgb(20, 20, 20);
$theme-color-normal-see-though: rgba(
  $theme-color-normal,
  $theme-transparency-normal
);
$theme-color-light-see-though: rgba(
  $theme-color-light,
  $theme-transparency-normal
);
$theme-color-dark-see-though: rgba(
  $theme-color-dark,
  $theme-transparency-normal
);

$theme-color-normal-see-though-high: rgba(
  $theme-color-normal,
  $theme-transparency-high
);
$theme-color-light-see-though-high: rgba(
  $theme-color-light,
  $theme-transparency-high
);
$theme-color-dark-see-though-high: rgba(
  $theme-color-dark,
  $theme-transparency-high
);

$theme-color-scrollbar: $theme-color-dark;
$theme-color-scrollbar-track: $theme-color-normal;
$theme-color-scrollbar-thumb: $theme-color-light;

$theme-border: $theme-color-dark-see-though;
$theme-outline: white;
$default-border-size: 2px;
$default-outline-size: $default-border-size;

$default-radius: 5px;
$default-big-radius: 7px;

$default-padding-small: 2px;
$default-padding: 5px;
$default-big-padding: 8px;
$default-element-padding: 10px;

$default-margin-small: $default-padding-small;
$default-margin: $default-padding;
$default-big-margin: $default-big-padding;
$default-element-margin: $default-element-padding;

$default-font-size: 1em;
$default-header-font-size: 1.2em;
$default-header-big-font-size: 1.5em;

$default-checkbox-size: 20px;

$default-size: 100px;
$default-width: $default-size;
$default-height: $default-size;

$default-position: relative;
$default-top: 0;
$default-bottom: 0;
$default-left: 0;
$default-right: 0;
