@import "@Root/constants";
@import "@Root/mixins";

body {
  background-color: rgb(63, 63, 63);
  color: $theme-text-color;
  font-family: Arial;
}

button {
  @include resetStyle();
  color: inherit;
  cursor: pointer;
}

textarea {
  resize: none;
  background-color: $theme-color-normal;
  border: $default-border-size solid $theme-border;
  border-radius: $default-radius;
  color: inherit;
  outline: none;
  &:focus {
    background-color: $theme-color-light;
    border: $default-border-size solid $theme-outline;
  }
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $theme-color-scrollbar-track;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: $theme-color-scrollbar;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $theme-color-scrollbar-thumb;
}

hr {
  background-color: $theme-color-normal;
  border: $default-border-size solid $theme-color-normal;
  border-radius: $default-radius;
  margin: $default-margin;
}
